:focus {
  background: yellow;
}

/* expand */

div {
  --height: initial;

  height: var(--height, 0);
  visibility: hidden;
  transition: 1s ease;
  overflow: hidden;
}

[aria-expanded="true"] + div {
  height: var(--height, auto);
  visibility: visible;
}
